#header{
    position: fixed;
    min-height: 50px;
    min-width: 100%;
    background-color: #222222;
    top:0;
    left: 0;
}

#logo-container{
    position: fixed;
    left: 15px;
    top: 4px;
    min-width: 50px;
    min-height: 50px;
}

#header-navi{
    margin: 0;
    padding: 0.8em;
    text-align: center;
    border: 1px solid transparent;
    background-color: transparent;
}

.header-navi > li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
}